# Session #1 Homework

In [1]:
import numpy as np
import pandas as pd

## Question 1
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.21.2'

## Question 2
What's the version of Pandas?

In [3]:
pd.__version__

'1.3.3'

In [4]:
# Read the dataset
df = pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3
What's the average price of BMW cars in the dataset?

In [5]:
df[df["Make"] == "BMW"]["MSRP"].mean().round(2)

61546.76

## Question 4
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [6]:
df[df["Year"] >= 2015]["Engine HP"].isnull().sum()

51

## Question 5
- Calculate the average "Engine HP" in the dataset.  
- Use the `fillna` method and to fill the missing values in "Engine HP" with the mean value from the previous step.  
- Now, calcualte the average of "Engine HP" again.  
- Has it changed?

In [7]:
# Average Engine HP without filling missing values
mean_engine_hp = round(df["Engine HP"].mean())

# Fill missing values in Engine HP with the mean value from the previous step
df["Engine HP"].fillna(mean_engine_hp, inplace=True)

# Average Engine HP with no missing values
new_mean_engine_hp = round(df["Engine HP"].mean())

print(mean_engine_hp, new_mean_engine_hp)

249 249

The average value has not changed.

## Question 6
- Select all the "Rolls-Royce" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
- Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 7 rows).
- Get the underlying NumPy array. Let's call it `X`.
- Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
- Invert `XTX`.
- What's the sum of all the elements of the result?

In [8]:
df_rolls_royce = df[df["Make"] == "Rolls-Royce"][["Engine HP", "Engine Cylinders", "highway MPG"]]

# Drop duplicate rows
df_rolls_royce.drop_duplicates(inplace=True)

# Get NumPy array
X = df_rolls_royce.values

# Compute matrix-matrix multiplication between the transpose of X and X
XTX = X.T.dot(X)

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Sum of all elements of XTX_inv
print(XTX_inv.sum().round(4))

0.0322

## Questions 7
- Create an array `y` with values `[1000, 1100, 900, 1200, 1000, 850, 1300]`.
- Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
- What's the value of the first element of `w`?.

In [9]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

# Calculate w
w = XTX_inv.dot(X.T).dot(y)

print("First element of w is", w[0].round(4))

First element of w is 0.1999